@charset "ISO-8859-1";


header {
	background-color : ;
	overflow: hidden;
	height: 20%;
}

header h1 {
	color: white;
	width: 100%;
}

header img {

}

nav {
	color: #00008b;
	height : ;
	background-color : ;
	margin: ;
}

main {
	margin-top: ;
	width: ;
	height: 80%;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.col-left {
	background-color : ;
}

.col-right {
	background-color : blue;
}

img {
  float: left;
  height: 100%;
}

.main-div {
	background-color: red;
	width: 50%;
	height: 40vw;
	margin: 0 auto;
	position: static;
}

.over-div {
	position: absolute;
	margin: 0 auto;
	top: 0;
	right: 0;
	height: 40vw;
}